/*CSS é usado nos arquivos .fxml (exceto na tela de login)
.box_central e .menu são nomes genéricos definidos por quem fez o arquivo, quando style.css é usado, styleClass deve ter o mesmo nome deles
*/
.login{
    -fx-background-image: url("../Images/Login.png");
}

/*A tela como um todo*/
.box_central{
    -fx-background-color: #EAEEF4;
}

/*A parte esquerda da tela*/
.menu{
    -fx-background-color: #353A56;
    /*
    -fx-background-color: #748CF1
    */
}

/*Usado no botão de logout*/
.btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}

.btn_after {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}


